<div class="container mt-5" style="width: 750px;">
    <div class="card mb-4 rounded-3 shadow-sm border-dark">
        <div class="card-header py-3 text-white bg-dark border-dark">
            <h4 class="my-0 fw-normal text-center">Detalii pacient</h4>
        </div>
        <div class="card-body">
            <br>
            <h4><i class="text-muted fw-light">Nume: </i>{{patient.lastName}}</h4>
            <h4><i class="text-muted fw-light">Prenume: </i>{{patient.firstName}}</h4>
            <h4><i class="text-muted fw-light">Data nasterii: </i>{{patient.birthDate}}</h4>
            <h4><i class="text-muted fw-light">Sex: </i>{{patient.gender}}</h4>
            <h4><i class="text-muted fw-light">CNP: </i>{{patient.cnp}}</h4>
            <h4><i class="text-muted fw-light">Nr. Telefon: </i>{{patient.phoneNumber}}</h4>
            <br>
            <br>
            <div class="col-md-12 text-center">
                <button type="button" (click)='openModal(patient.waitingNumber)' class="btn btn-dark btn-lg">Confirma consultarea</button>
            </div>
        </div>
    </div>
</div>
